body{
    background-image: url("img/potada.jpg");
}
.container{
    background-color: rgb(132, 255, 214);
    margin: 100px auto;
    width: 450px;
    height: 400px;
    padding: 10;
}
.pregunta_nombre{
    text-align: center;

}
.pregunta_enunciado{
    text-align: justify;
}
.pregunta_contenido{
    padding: 15px;
}

.pregunta_alternativas button:hover{
    background-color: magenta;
}
